If:
  PathMatch: servers/.*

CompileFlags:
  CompilationDatabase: build/servers

---

If:
  PathMatch: proto/.*

CompileFlags:
  CompilationDatabase: build/proto

---

If:
  PathMatch: library/.*

CompileFlags:
  CompilationDatabase: build/library

---

If:
  PathMatch: tests/.*

CompileFlags:
  CompilationDatabase: build/tests


---

If:
  PathMatch: [include/.*, source/.*]

CompileFlags:
  CompilationDatabase: build