/build
/build2
!/build/compile_commands.json
!/build2/compile_commands.json

/.vscode
/cpm_modules
.DS_Store
*.lic
core.*
*.log
.cache

openvino_env
models

conan/conan.lock
conan/conanbuildinfo.cmake
conan/conanbuildinfo.txt
conan/conaninfo.txt
conan/graph_info.json